body{
	margin: 0;
	padding: 0;	
	background-color: #fff;
}
.main-wrapper{
	/*display: flex;*/
	margin: 15px;
	padding: 20px;
	min-width: 500px;
	overflow: auto;
	background-color: #eee;
	border: 1px solid #999;
}
aside.leftsidebar{
	float: left;
	/*position: inherit;*/
	/*padding: 20px;*/
	width: 200px;
	background-color: #fff;
	border: 1px solid #999;
}
aside.leftsidebar img{
	/*float: left;*/
	margin: 20px;
	width: 80px;
	height: 80px;
}
div.centercontent{
	/*float: left;*/
	margin: 0 142px 0 222px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #999;
}
aside.rightsidebar{
	float: right;
	/*right: 0px;*/
	/*position: inherit;*/
	/*padding: 20px;*/
	width: 120px;
	background-color: #fff;
	border: 1px solid #999;
}
aside.rightsidebar img{
	margin: 20px;
	width: 80px;
	height: 80px;
}
